@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";


@import "breakpoint-sass/stylesheets/_breakpoint";

@import "__grid.scss";

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto';
  margin: 0;
  padding-top: 0.1px; // Prevent header h1 margin from pushing body down
}

@import "components/tentacle-card.scss";


.tentacle-group {
  display: block;

  .tentacle-group-title {
    display: block;

    text-align: center;

    @include mdc-typography(headline3);
    @include mdc-typography-baseline-top(0px);
    @include mdc-typography-baseline-bottom(0px);

    //overflow: hidden;

    color: map-get($mdc-theme-property-values, text-primary-on-background);
  }
  .tentacle-group-description {
    display: block;

    text-align: center;

    @include mdc-typography(subtitle1);
    @include mdc-typography-baseline-top(0);

    //overflow: hidden;

    color: map-get($mdc-theme-property-values, text-primary-on-background);
  }
}

.tentacle-list {
  display: flex;
  flex-wrap: wrap;

  .tentacle-card-parent {
    display: block;

    // Dynamic grid
    @include breakpoint(100px) {
      width: span(1 of 1);
      margin: gutter() 0 gutter() gutter();
    }
    @include breakpoint(350px) {
      width: span(1 of 2);
      margin: gutter() 0 gutter() gutter();
    }
    @include breakpoint(525px) {
      width: span(1 of 3);
      margin: gutter() 0 gutter() gutter();
    }
    @include breakpoint(700px) {
      width: span(1 of 4);
      margin: gutter() 0 gutter() gutter();
    }
    @include breakpoint(875px) {
      width: span(1 of 5);
      margin: gutter() 0 gutter() gutter();
    }
  }
}