@import "@material/card/mdc-card";
@import "@material/button/mdc-button";
@import "@material/icon-button/mdc-icon-button";
@import "@material/typography/mdc-typography";
@import "@material/top-app-bar/mdc-top-app-bar";

@import "__grid.scss";

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto';
  margin: 0;
  padding-top: 0.1px; // Prevent header h1 margin from pushing body down
}

@import "components/tentacle-card.scss";

.tentacle-group {
  float: left;

  .tentacle-group-title {
    display: block;

    text-align: center;
  }
  .tentacle-group-description {
    display: block;

    text-align: center;
  }

  .tentacle-list {
    // display: block;

    display: flex;
    flex-wrap: wrap; // allow wrapping items

    .tentacle-card-parent {
      display: block;
      // float: left;

      @include breakpoint(100px) {
        width: span(1 of 1);
        margin: gutter() 0 gutter() gutter();
      }
      @include breakpoint(500px) {
        width: span(1 of 2);
        margin: gutter() 0 gutter() gutter();
      }
      @include breakpoint(700px) {
        width: span(1 of 3);
        margin: gutter() 0 gutter() gutter();
      }
      @include breakpoint(900px) {
        width: span(1 of 4);
        margin: gutter() 0 gutter() gutter();
      }
      @include breakpoint(1100px) {
        width: span(1 of 5);
        margin: gutter() 0 gutter() gutter();
      }
    }
  }
}

