@import "@material/card/mdc-card";
@import "@material/button/mdc-button";
@import "@material/typography/mdc-typography";
@import "@material/ripple/mdc-ripple";
@import "@material/theme/mdc-theme";
@import "@material/elevation/mdc-elevation";

.tentacle-card {
  position: relative;
  width: 100%;

  // max-width: 400px; // Debug

  .selected-icon {
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 8px;

    visibility: hidden;
    
    &.visible {
      visibility: visible;
    }

    color: map-get($mdc-theme-property-values, primary);

    &.disabled {
        color: map-get($mdc-theme-property-values, text-disabled-on-background);
    }
  }

  .tentacle-title-container {
    .tentacle-title {
      @include mdc-typography-baseline-top(0px);
      @include mdc-typography-baseline-bottom(0px);
    }
  }

  .tentacle-image {
    display: block;
    width: 100%;

    @include mdc-card-media-aspect-ratio(1, 1);
  }

  .tentacle-description {
    display: block;
    width: 100%;
    padding-bottom: 0px;

    background-color: darken(map-get($mdc-theme-property-values, surface), 5%);

    //@include mdc-elevation(1);

    .line {
      display: block;
      margin-bottom: 8px;
      text-align: center;

      color: map-get($mdc-theme-property-values, text-primary-on-background);

      &:last-child {
        margin-bottom: 3px;
      }
    }
  }
}