<div class="container">
  {{#each model as |group|}}
    <div class="tentacle-group">
      <h1 class="tentacle-group-title">{{group.name}}</h1>
  
      {{#each group.description as |desc|}}
        <p class="tentacle-group-description">{{desc}}</p>
      {{/each}}
  
      <div class="tentacle-list">
        {{#each group.values as |tentacle|}}
          <div class="tentacle-card-parent">
            {{tentacle-card 
              title=tentacle.title 
              image=tentacle.image 
              cost=tentacle.cost
              canChange=tentacle.canChange
              isSelected=tentacle.defaultSelected
              description=tentacle.description
            }}
          </div>
        {{/each}}
      </div>
    </div>
  {{/each}}
</div>

{{outlet}}